/* .cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.cart-item-table  img{
 width: 50px;
  min-height : auto

}
table{
  border: 1px solid black;
  

}
thead tr th{
   background-color:#4CAF50;
    color: rgb(16, 14, 14);
    border: 1 solid black;
    width: 200px;
    
  
    
}

.cart-item-table{
  width:90% ;
  margin: 0 auto;
  text-align: center ;
}
.cartItem {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}
.cart-item-table {
  border: 1px solid 

}
.cart-item-table thead {
  border: 1px solid black;


}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
.cart-table{
  padding : 60px ;

    /*margin-top:-100px;*/
}
